@import '../../sass/index.scss';

.inner{

    display: flex;
    gap: 130px;
    margin-bottom: 150px;
    .inner__left{
        display: flex;
        flex: 1;
        position: relative;
        transition: $transition;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .inner__line{
            position: absolute;
            top: 0;
            width: 0;
            height: 2px;
            background-color: #ffff;
            transition: $transition;
        }
        .inner__line2{
            position: absolute;
            bottom: 0;
            width: 0;
            height: 2px;
            background-color:#ffff ;
            transition: $transition;
        }
        
        
    }

    .inner__right{
        display: flex;
        flex: 1;
        flex-direction: column;
        position: relative;

        .inner__right__title{
            display: flex;
            flex-direction: column;
            overflow: hidden;
            h2{
                font-size: 32px;
                letter-spacing: 3px;
                margin-bottom: 18px;
            }
    
            p{
                font-family: "Space Mono",sans-serif;
        font-size: 18px;
        line-height: 1.66667em;
        font-weight: 400;
        letter-spacing: normal;
        margin-bottom: 35px;
            }
        }

        

        .inner__right__before{
            position: absolute;
            top: 40px;
            left: -75px;
            rotate: -90deg;
            
        }


    }
}