@import '../../../sass/index.scss';

.input{
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ffff;
    outline: none;
    background: transparent;
    color: #ffff;
    font-family: monospace;
    &::placeholder{
        color: #ffff;
    }

    &-md{
        width: 200px;
        height: 50px ;
        font-size: 18px;
    }
    &-lg{
        width: 350px;
        height: 50px ;
        font-size: 17px;
    }
}